<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @masl7a.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @masl7a.description %>
</p>

<%= link_to 'Edit', edit_masl7a_path(@masl7a) %> |
<%= link_to 'Back', masl7as_path %>
